{% extends "vzla/base.html" %}

{% block subtitulo %}ABOUT{% endblock subtitulo %}

{% block contenido %}
<div align="center">
    <td>
    <TABLE BORDER>
        <TR><TH> Nombre: </TH>
            <TD></TD><TD></TD>
            <TD> Jesus Pulido </TD></TR>
            <TD></TD>
        <TR><TH> Edad: </TH>
            <TD></TD><TD></TD>
            <TD> 31 años </TD></TR>
            <TD>
        <TR><TH> Acerca de mi: </TH>
            <TD></TD><TD></TD>
            <TD> Soy venezolano,ingeniero mecanico vivi 3 
                años en argentina desde que inicie mi carrera 
                laboral siempre me ha interesado la programacion 
                en mis inicios empece programando con visual basic
                ya que en el ambito laboral excel es un programa 
                muy valioso, no habia tenido la oportunidad de 
                estudiar python sino hasta ahora que doy mis primeros 
                pasos con CODERHOUSE espero seguir avanzando
                y tomar la especializacion de DATA SCIENCIE. </TD>
            <TD>
    </TABLE>
<div>
<br>
<div align="center">
    <a class="vinculo" href="{% url 'inicio' %}">Inicio</a>
<div>
{% endblock contenido %}