{% extends "vzla/base.html" %}

{% block subtitulo %}Crear Gastronomia{% endblock subtitulo %}

{% block contenido %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in formulario %}
  <div class="field_container">
      {{ field.errors }}
      {{ field.label_tag }} <br>
      {{ field }}
  {% endfor %}
<br>
<br>
  <input type="submit" value="Enviar" />
<br>
<br>
<a class='vinculo' href="{% url 'gastronomia' %}">Volver a Gastronomia</a>

{% endblock contenido %}