{% extends "vzla/base.html" %}

{% block subtitulo %}Detalle de gastronomia{% endblock subtitulo %}

{% block contenido %}
<div align="center">
    <td><img src="{{ gastronomia.imagen.url }}"style="width:500px;"/></td>
    <TABLE BORDER>
        <TR><TH> Nombre: </TH>
            <TD></TD><TD></TD>
            <TD> {{ gastronomia.nombre }} </TD></TR>
            <TD></TD>
        <TR><TH> Ingredientes: </TH>
            <TD></TD><TD></TD>
            <TD> {{ gastronomia.ingredientes }} </TD></TR>
            <TD>
        <TR><TH> Descripcion: </TH>
            <TD></TD><TD></TD>
            <TD> {{ gastronomia.descripcion }} </TD>
            <TD>
    </TABLE>
<div>
<div align="center">
    <a href="{% url 'gastronomia' %}">Volver a la gastronomia</a>
<div>
{% endblock contenido %}