{% extends "vzla/base.html" %}

{% block subtitulo %}Detalle de gastronomia{% endblock subtitulo %}

{% block contenido %}
<div align="center">
    <h2>{{ gastronomia.nombre }}</h2>
    <br>
    <td><img src="{{ gastronomia.imagen.url }}"style="width:500px;"/></td><br>
    <TABLE BORDER>
        <br>
        <TR><TH> Ingredientes: </TH>
            <TD> {{ gastronomia.ingredientes }} </TD></TR>
        <TR><TH> Descripcion: </TH>
            <TD> {{ gastronomia.descripcion }} </TD>
    </TABLE>
<div>
    <br>
<div align="center">
    <a class='vinculo' href="{% url 'gastronomia' %}">Volver a la gastronomia</a>
<div>
{% endblock contenido %}