{% extends "vzla/base.html" %}

{% block subtitulo %}Detalle de nuestro paisaje{% endblock subtitulo %}

{% block contenido %}
<div align="center">
    <td><img src="{{ paisaje.imagen.url }}"style="width:500px;"/></td>
    <TABLE BORDER>
        <TR><TH> Nombre: </TH>
            <TD></TD><TD></TD>
            <TD> {{ paisaje.nombre }} </TD></TR>
            <TD></TD>
        <TR><TH> Estados: </TH>
            <TD></TD><TD></TD>
            <TD> {{ paisaje.estados }} </TD></TR>
            <TD>
        <TR><TH> Descripcion: </TH>
            <TD></TD><TD></TD>
            <TD> {{ paisaje.descripcion }} </TD>
            <TD>
    </TABLE>
    <div align="center">
        <a href="{% url 'paisajes' %}">Volver a la paisajes</a>
    <div>
{% endblock contenido %}