{% extends "vzla/base.html" %}

{% block subtitulo %}Inicio{% endblock subtitulo %}

{% block contenido %}
<div align = "center">
    {% if user.is_authenticated %}
    <img src="{{ user.avatar.imagen.url }}" style="width:200px;"/>
    {% endif %}
    {% include "vzla/saludo.html" %}
    <h1 class='caja'>Bienvenidos a Venezuela. </h1>
    <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
</div>

<div align="center">
    <a class='vinculo' href="{% url 'about' %}">Acerca de mi</a>
<div>
{% endblock contenido %}