{% extends "vzla/base.html" %}
{% block subtitulo %}PAISAJES{% endblock subtitulo %}
{% block contenido %}
    <div>
        <h1 align="center">PAISAJES</h1>
        <ul>
        <h2>Nuestros Paisajes</h2>
        <a class='vinculo' href="{% url 'crear_paisaje' %}">Añadir</a>
        <br></br>
        <ul>   
        <table class="table">
            <tbody>
            <tr>
                <th>Nombre</th>
                <th>Estados</th>
                <th>Ver</td>
                <th>Editar</td>
                <th>Eliminar</td>
            </tr>
            {% for paisaje in paisajes %}
            <tr>
                <td>{{ paisaje.nombre }}</td>
                <td>{{ paisaje.estados }}</td>
                <td>
                <a href="{% url 'detalle_paisaje' paisaje.id %}">Ver</a>
                </td>
                <td>
                <a href="{% url 'editar_paisaje' paisaje.id %}">Editar</a>
                </td>
                <td>
                <a href="{% url 'eliminar_paisaje' paisaje.id %}">Eliminar</a>
                </td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
{% endblock contenido %}