{% extends "vzla/base.html" %}
{% block subtitulo %}TURISMO{% endblock subtitulo %}
{% block contenido %}
    <div>
        <h1>TURISMO</h1>
        <ul>
        <h2>Nuestros paquetes turisticos</h2>
        <a href="{% url 'crear_turismo' %}">Añadir</a>

        <table class="table">
            <tbody>
            <tr>
                <th>Nombre</th>
                <th>Comidas</th>
                <th>Paisaje</th>
                <td>Ver</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
            {% for turis in turismo %}
            <tr>
                <td>{{ turis.nombre }}</td>
                <td>{{ turis.comidas }}</td>
                <td>{{ turis.paisajes }}</td>
                <td>
                <a href="{% url 'detalle_turismo' turis.id %}">Ver</a>
                </td>
                <td>
                <a href="{% url 'editar_turismo' turis.id %}">Editar</a>
                </td>
                <td>
                <a href="{% url 'eliminar_turismo' turis.id %}">Eliminar</a>
                </td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
{% endblock contenido %}